<p>Update device</p>

<div *ngIf="device">
  <div>
    <label for="description">Description: </label>
    <input type="text" id="description" [(ngModel)]="device.description" placeholder="description">
  </div>
  <div>
    <label for="location">Location: </label>
    <input type="text" id="location" [(ngModel)]="device.location" placeholder="location">
  </div>
  <div>
    <label for="owner">Owner: </label>
      <select [(ngModel)]="device.ownerUid">
        <option *ngFor="let user of allUsers" [value]="user.uid">
          {{user.name}}
        </option>
      </select>
  </div>
  <div>
    <label for="sensor">Sensor: </label>
      <select [(ngModel)]="device.sensorUid">
        <option *ngFor="let sensor of allAvailableSensors" [value]="sensor.uid">
          {{sensor.description}}
        </option>
      </select>
  </div>
  <p>Complete the form to enable button.</p>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>