<p>Create new sensor</p>



<form [formGroup]="sensorForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="new-sensor">Description: </label>
    <input id="new-sensor" formControlName="description"/>
  </div>
  <div>
    <label for="new-sensor">Max Value: </label>
        <input value=1 id="new-sensor" type="number" formControlName="maxValue"/>
  </div>
  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!sensorForm.valid">Submit</button>

</form>