<p>Add new data</p>


<form [formGroup]="monitoredDataForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="new-monitored">Energy Consumption: </label>
        <input value=1 id="new-monitored" type="number" formControlName="energyConsumption"/>
  </div>
  <div>
    <label for="new-monitored">Timestamp: </label>
    <input type="date" formControlName="date"/>
  </div>
  <div>
    <label for="new-device">Sensor: </label>
      <select formControlName="sensorUid">
        <option *ngFor="let sensor of allSensors" [value]="sensor.uid">
          {{sensor.description}}
        </option>
      </select>
  </div>
  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!monitoredDataForm.valid">Submit</button>

</form>