<h2>All sensors</h2>
<ul class="sensors">
  <li *ngFor="let sensor of sensors">
    <a routerLink="/sensors/edit/{{sensor.uid}}">
      <span class="badge">{{sensor.description}}</span>with max value of {{sensor.max_value}}
    </a>
    <button class="delete" title="delete sensor"
            (click)="open(content, sensor)">x
    </button>
  </li>

</ul>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="backdrop">
    <div class="modal-content">
      <div class="miniHeader">
        <div class="modal-body">
          <p>Are you sure to delete this?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancel</button>
          <button type="button" class="btn btn-outline-dark" (click)="c('yes')">Yes</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<a routerLink="/sensors/add">
  <button class="add-button">
    Create new sensor
  </button>
</a>