<h1>{{title}}</h1>
 <nav>
  <a *ngIf="!currentUser" routerLink="/login">Login</a>
    <button *ngIf="currentUser"
            [disabled]="loading"
            (click)="logout()">
        Logout
    </button>
    <a *ngIf="!currentUser" routerLink="/register">Register</a>
    <a routerLink="/dashboard">Dashboard</a>
  <a *ngIf="currentUser && isAdmin" routerLink="/users">Users</a>
  <a *ngIf="currentUser && isAdmin" routerLink="/sensors">Sensors</a>
  <a *ngIf="currentUser && isAdmin" routerLink="/devices">Devices</a>
  <a *ngIf="currentUser && isAdmin" routerLink="/monitoreddata/add">Add Data</a>
  <a *ngIf="currentUser && !isAdmin" routerLink="/clientinfo/{{currentUser.uid}}">Client Info</a>
  <a *ngIf="currentUser && !isAdmin" routerLink="/datainfo/{{currentUser.uid}}">Energy Consumption Info</a>
</nav>
<!-- </mat-toolbar> -->
<router-outlet></router-outlet>
<!-- 
<router-outlet></router-outlet> -->