<h2>All users</h2>
<ul class="users">
  <li *ngFor="let user of users">
    <a routerLink="/users/edit/{{user.uid}}">
      <span class="badge">{{user.name}}</span>born on {{user.birthdate}} , lives at {{user.address}}
    </a>
    <button class="delete" title="delete user"
            (click)="open(content, user)">x
    </button>
  </li>

</ul>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="backdrop">
    <div class="modal-content">
      <div class="miniHeader">
        <div class="modal-body">
          <p>Are you sure to delete this?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancel</button>
          <button type="button" class="btn btn-outline-dark" (click)="c('yes')">Yes</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<a routerLink="/users/add">
  <button class="add-button">
    Add new user
  </button>
</a>