<h2>All devices and sensors owned by this user</h2>
<ul class="devices">
  <li *ngFor="let clientInfo of clientInfoSet">
      Device: <strong>{{clientInfo.device.description}}</strong>  having sensor: <strong>{{clientInfo.sensor.description}}</strong>
  </li>
</ul>