<div *ngIf="sensor">

    <h2>Sensor Details</h2>
    <div>
      <label for="description">Name </label>
      <input type="text" id="description" min=0 [(ngModel)]="sensor.description" placeholder="description">
    </div>
    <div>
        <label for="maxValue">Address </label>
        <input type="number" id="maxValue" min=1 [(ngModel)]="sensor.max_value" placeholder="maxValue">
      </div>
   
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
</div>
  