<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
        <label>Username</label>
        <input autofocus="autofocus" formControlName="username">
    </div>
    <div>
      <label>Password</label>
      <input formControlName="password" type="password">
    </div>
    <p>Complete the form to enable button.</p>
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>