<p>Create new user</p>



<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="new-user">Name: </label>
    <input id="new-user" formControlName="name"/>
  </div>
  <div>
    <label for="new-user">Address: </label>
        <input id="new-user" formControlName="address"/>
  </div>
  <div>
    <label for="new-user">Birthdate: </label>
    <input type="date" formControlName="birthdate"/>
  </div>
  <div>
    <label for="new-user">Username: </label>
    <input id="new-user" formControlName="username"/>
  </div>
  <div>
    <label for="new-user">Password: </label>
    <input id="new-user" type="password" formControlName="password"/>
  </div>
  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!userForm.valid">Submit</button>

</form>