<h2>All devices</h2>
<ul class="devices">
  <li *ngFor="let device of devices">
    <a routerLink="/devices/edit/{{device.uid}}">
      <span class="badge">{{device.description}}</span>with avg consumption of {{device.averageConsumption}} located in {{device.location}}
    </a>
    <button class="delete" title="delete device"
            (click)="open(content, device)">x
    </button>
  </li>

</ul>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="backdrop">
    <div class="modal-content">
      <div class="miniHeader">
        <div class="modal-body">
          <p>Are you sure to delete this?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancel</button>
          <button type="button" class="btn btn-outline-dark" (click)="c('yes')">Yes</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<a routerLink="/devices/add">
  <button class="add-button">
    Create new device
  </button>
</a>